@import url(/my.css/font.css);

:root {
    --c-brand-primary: #960202;
    --c-brand-secondary: #595858;
    --c-brand-lignt: #FAF3F3;
    --c-body: #fbfbda;
    --font-header: "LatoHeader", sans-serif;
    --font-body: "LatoBody", monospace;
    --box-shadow: 0px 15px 25px rgb(0, 0, 0 ,0.8);
    --transition: all 0.5s ease;
}

body {
    font-family: var(--font-body);
    background-color: var(--c-body);
    color: var(--c-brand-secondary);
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 600;
    font-family: var(--font-header);
    color: var(--c-brand-primary);
}

a .nav-link {
    text-decoration: none;
    color: var(--c-brand-primary);
    transition: var(--transform);
}

a:hover{
    color: var(--c-brand-secondary);
} 

img {
    max-width: 100vw;
    height: auto;
}

.section-padding {
    padding-top: 140px;
    padding-bottom: 140px;
}

.btn {
    font-weight: 500;
    font-size: 1.5rem;
    text-transform: uppercase;
    border-radius: 3px;
    padding: 0.25em 0.5em;
    border: 3px solid;
}

.btn-brand {
    background-color: var(--c-brand-primary);
    border-color: var(--c-brand-primary);
    color: var(--c-body);
}

.btn-brand:hover {
    background-color: var(--c-brand-lignt);
    border-color: var(--c-brand-lignt);
    color: var(--c-brand-primary);
}

.login {
    background-color: var(--c-body);
    border-color: var(--c-brand-primary);
    color: var(--c-brand-primary);
}


 .navbar-nav .navbar-link {
    font-weight: 500;
    color: var(--c-brand-primary);
}

.navbar-nav .nav-link .active {
    color: var(--c-brand-primary);
}

#hero {
    background: linear-gradient(#0000007a, #0000006b), url(../img/hotel3.jpg);
    background-repeat: no-repeat;
    background-size: 100vw;
}
